body{
    position: relative;
    }

p1{
    color: rgb(0, 0, 0);
   margin: 40px;
   position: relative;
}

h1 {
    color:rgb(12, 12, 11);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px

}

p2{
    position: relative;
}

.flex-container {
    display: flex;
   border: 0px solid black;
    justify-content: space-between; 
     padding: 0px;        
     align-items: center;      

  }
  
  .flex-item {
    padding: 0px;
    background-color: rgb(253, 254, 255);
    margin: 2px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 5px;
  }
  h5{
    color:rgb(12, 12, 11);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 4000px;
    margin: 20px
  }
  h6 {
    color:rgb(12, 12, 11);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px
  }
 
  .classeimg{
    padding: 0px;
    width: 500px;  
    height: 300px;
    border: 3px solid black;
  }
.classeimg2 {
 
    width: 400px;  
    height: 300px;
    border: 3px solid black;
}
.classeimg3{

    width: 500px;  
    height: 300px;
    border: 3px solid black;
}
